div= t('.hello', name: @user.name)
br
div= t('.we_created_account')
br
div= t('.here_is_your_info')
br
div= "#{t('.login_email')} #{@user.email}"
div= "#{t('.password')} #{@password}"
br
div= t('.change_password')
br
div
  = t('.you_can_login')
  = ' '
  = link_to 'Changeons.Org', 'http://changeons.org'