---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"559125b239","email":{"email":"testing-email@changeons.org"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"7e9dcc3d6d04b207544cc26a55b157b6-us9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"testing-email@changeons.org","euid":"e83e469bb5","leid":"258652313"}'
  recorded_at: Wed, 04 Mar 2015 14:25:05 GMT
recorded_with: VCR 2.9.3
