---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=200&since_id=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JEXHzFmDASoTzV6pahvwyZKjV", oauth_nonce="1930755504407ff4d42b146cb4666e1d",
        oauth_signature="4ZabAXaTlU9ggC1IKNhOoy0tujI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433402092", oauth_token="543176801-zjk655r9F95XR82FA2VmF61r6g12RkqJL86vVFoq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 04 Jun 2015 07:14:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8fd650133f212fb45902fd3cb04db803
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1433402446'
      X-Response-Time:
      - '176'
      X-Transaction:
      - 4deff6c2b78a6bb2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jun 04 07:13:20 +0000 2015","id":606358052917395458,"id_str":"606358052917395458","text":"RT
        @fabricearfi: Malgr\u00e9 la relaxe, le scandale Woerth-Sarkozy reste intact.
        Voici pourquoi. http:\/\/t.co\/tCrZLl7HmC Avec du Orwell et du Sca\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19976004,"id_str":"19976004","name":"Mediapart","screen_name":"mediapart","location":"Paris","description":"Les
        tweets de Mediapart.fr : le journal d''information politique et g\u00e9n\u00e9rale,
        d''investigation, ind\u00e9pendant et participatif.","url":"http:\/\/t.co\/FTZqSuHNaD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/FTZqSuHNaD","expanded_url":"http:\/\/www.mediapart.fr","display_url":"mediapart.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1149117,"friends_count":1439,"listed_count":7686,"created_at":"Tue
        Feb 03 15:07:42 +0000 2009","favourites_count":730,"utc_offset":7200,"time_zone":"Paris","geo_enabled":false,"verified":true,"statuses_count":42537,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDEFE8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/742450190\/c93f604b210eeb6f575f067ec1bce592.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/742450190\/c93f604b210eeb6f575f067ec1bce592.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/583204093000359936\/cldody3K_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/583204093000359936\/cldody3K_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19976004\/1422272267","profile_link_color":"868A00","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jun 04 07:13:07 +0000 2015","id":606357999448420353,"id_str":"606357999448420353","text":"Malgr\u00e9
        la relaxe, le scandale Woerth-Sarkozy reste intact. Voici pourquoi. http:\/\/t.co\/tCrZLl7HmC
        Avec du Orwell et du Scarpinato inside.","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JEXHzFmDASoTzV6pahvwyZKjV", oauth_nonce="9fce630f146cf0e5b259357973b3f003",
        oauth_signature="AJvp5Js%2F8C8aGZLYhCrJXCovZAc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433402093", oauth_token="543176801-zjk655r9F95XR82FA2VmF61r6g12RkqJL86vVFoq",
        oaut[...]
[...]
