---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JEXHzFmDASoTzV6pahvwyZKjV", oauth_nonce="c6258ef6f561ebf79407f2ad3f4fc122",
        oauth_signature="GfsMUR%2FuKZ79SCCAaiijMNmg8Dg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433320140", oauth_token="543176801-zjk655r9F95XR82FA2VmF61r6g12RkqJL86vVFoq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 03 Jun 2015 08:29:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3649ab6e7839757611b309cf30b1ed81
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1433320651'
      X-Response-Time:
      - '67'
      X-Transaction:
      - d3c69987ce99b64c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Jun 03 08:28:38 +0000 2015","id":606014618335641600,"id_str":"606014618335641600","text":"\"Je
        me sens mal \u00e0 l\u2019\u00e9cole. Avec mes amis, \u00e7a va, mais j\u2019ai
        l\u2019impression que les profs sont tous sur moi.\" Sophie, 10 ans - #ChaqueEnfant","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":606014406598754304,"in_reply_to_status_id_str":"606014406598754304","in_reply_to_user_id":87187435,"in_reply_to_user_id_str":"87187435","in_reply_to_screen_name":"UNICEF_france","user":{"id":87187435,"id_str":"87187435","name":"UNICEF
        France","screen_name":"UNICEF_france","location":"France","description":"L\u2019UNICEF
        a pour vocation d''aider et prot\u00e9ger les enfants. Agence de l\u2019Organisation
        des Nations unies, l''UNICEF est pr\u00e9sent dans + de 190 pays. Profil officiel.","url":"http:\/\/t.co\/WGDVFjNGbl","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/WGDVFjNGbl","expanded_url":"http:\/\/www.unicef.fr","display_url":"unicef.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":123165,"friends_count":1146,"listed_count":751,"created_at":"Tue
        Nov 03 13:19:00 +0000 2009","favourites_count":687,"utc_offset":7200,"time_zone":"Paris","geo_enabled":true,"verified":true,"statuses_count":7849,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0065A9","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000003481378\/1d688ca86132734b3625cbe599c259a7.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000003481378\/1d688ca86132734b3625cbe599c259a7.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/580403618911821827\/SJ_Vvm5O_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/580403618911821827\/SJ_Vvm5O_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/87187435\/1432283629","profile_link_color":"0099FF","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"333399","profile_text_color":"999999","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"ChaqueEnfant","indices":[123,136]}],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"fr"},{"created_at":"Wed
        Jun 03 08:27:48 +0000 2015","id":606014406598754304,"id_str":"606014406598754304","text":"L''#\u00e9ducation
        en France : un v\u00e9ritable gouffre \u00e0 franchir pour tant d\u2019autres
        enfants qui n\u2019y ont pas encore acc\u00e8s - #ChaqueEnfant","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str"[...]
