---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 03 Jun 2015 07:27:31 GMT
      Ml:
      - A
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - d8532f14ec08cc74bdfd3a042bb26f93
      X-Response-Time:
      - '9'
      X-Transaction:
      - 15b2a68966690976
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Wed, 03 Jun 2015 07:27:30 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JEXHzFmDASoTzV6pahvwyZKjV", oauth_nonce="7851f8f6a56cb47b33b773590f1ff04f",
        oauth_signature="GrS5qCYKj7adNKIh4cCXlVwD8GE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433316707", oauth_token="543176801-zjk655r9F95XR82FA2VmF61r6g12RkqJL86vVFoq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 03 Jun 2015 07:31:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d559b6edbc9373854409e1eaff744595
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1433317608'
      X-Response-Time:
      - '66'
      X-Transaction:
      - 97f8a1caf1857488
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Jun 03 07:30:32 +0000 2015","id":605999994760392704,"id_str":"605999994760392704","text":"RT
        @cecile_leuba: Sur @RFI Commerce du bois en RDC: la France trop laxiste ?
        http:\/\/t.co\/j01ZTPz9iG @greenpeacefr","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4008771,"id_str":"4008771","name":"Greenpeace
        France","screen_name":"greenpeacefr","location":"Paris","description":"Greenpeace
        a pour but de d\u00e9noncer les atteintes \u00e0 l''environnement  et d''apporter
        des solutions qui contribuent \u00e0 la protection de l''environnement.","url":"http:\/\/t.co\/VxXfDnPdxu","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/VxXfDnPdxu","expanded_url":"http:\/\/www.greenpeace.fr","display_url":"greenpeace.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":308426,"friends_count":260,"listed_count":2392,"created_at":"Tue
        Apr 10 09:53:55 +0000 2007","favourites_count":453,"utc_offset":7200,"time_zone":"Paris","geo_enabled":true,"verified":true,"statuses_count":7364,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/753464655\/cb63c4568551cede866440b9e1798330.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/753464655\/cb63c4568551cede866440b9e1798330.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/514786708559122432\/wFynDQ2x_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/514786708559122432\/wFynDQ2x_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4008771\/1398242079","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jun 03 07:24:24 +0000 2015","id":605998451550220288,"id_str":"605998451550220288","text":"Sur
        @RFI Commerce du bois en RDC: la France trop laxiste ? http:\/\/t.co\/j01ZTPz9iG
        @greenpeacefr","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_scr[...]
