---
http_interactions:
- request:
    method: post
    uri: https://us9.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"559125b239","email":{"email":"already_subscribed@changeons.org"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"7e9dcc3d6d04b207544cc26a55b157b6-us9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '214'
    body:
      encoding: UTF-8
      string: '{"status":"error","code":214,"name":"List_AlreadySubscribed","error":"already_subscribed@changeons.org
        is already subscribed to the list."}'
  recorded_at: Wed, 11 Mar 2015 17:14:11 GMT
recorded_with: VCR 2.9.3
