@import "shared_sass.css.scss";

#categories {
  h1 { margin-top: 40px }
  ul {
    padding: 0 40px;
    line-height: 1.8;
    li {
      list-style: none;
      float: left;
      padding-right: 5px;
    }
  }
}