// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin link {
  font-weight: 200;
  .left {
    display: inline-block;
    text-decoration: none;
    width: 5%;
    font-size: 18px;
    line-height: 18px;
    margin-left: 1%;
    vertical-align: middle;
    i {
      color: #555;
      text-shadow: 0px 1px 0px #fff;
      &:hover { color: #000; }
    }
  }
  .right {
    width: 94%;
    display: inline-block;
    vertical-align: middle;
    h2 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 200;
      margin-bottom: 0;
      margin-top: 0;
      .label {
        vertical-align: middle;
      }
      .link {
        vertical-align: middle;
        padding: 0 5px 0 10px;
      }
      small {
        font-size: 70%;
        font-weight: 200;
        vertical-align: middle;
      }
    }
    aside {
      .comment-count i { margin: 0 5px 0 10px; }
    }
  }
  .url {
    padding: 20px 0 0 5%;
    span { margin-left: 5px; }
  }
}

.intro {
  box-shadow: 0px 0px 3px black;
  padding: 1em;
  font-size: 26px;
  background-color: rgba(0,0,0,0.1);
  text-shadow: 0px 1px white;
  text-align: center;
  b {
    font-weight: 300;
    color: #777;
  }
  small {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: #333333;
    text-shadow: 0px 1px white;
  }
}

.content { padding:0; }

section#sidebar {
  width: 32%;
  float: right;
  padding: 1em 1.5%;
  text-align: center;
  p.lead {
    font-size: 20px;
    margin-top: 30px;
  }
  a i { margin-right: 7px; }
}

section#links {
  padding: 1em 1.5%;
  width: 62%;
  float: left;
  ul {
    margin: 0;
    li {
      padding: 0 1em 0 2px;
      list-style: none;
      &:hover { background: #eeeeee; }
      hr { margin: 10px 0; }
      &:last-child {
        padding-bottom: 2px;
        hr { border: none }
      }
      @include link;
    }
  }
}

section#link {
  @include link;
}