// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared_sass.css.scss';

@mixin link {
  font-weight: 200;
  .left {
    display: inline-block;
    text-decoration: none;
    width: 5%;
    font-size: 18px;
    line-height: 18px;
    margin-left: 1%;
    vertical-align: middle;
    i {
      color: $background-color;
      &:hover { color: $custom-link-color }
    }
  }
  .right {
    width: 94%;
    display: inline-block;
    vertical-align: middle;
    h2 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 200;
      margin-bottom: 0;
      margin-top: 0;
      .label { vertical-align: middle }
      .link {
        vertical-align: middle;
        padding: 0 5px 0 10px;
      }
      small {
        font-size: 70%;
        font-weight: 200;
        vertical-align: middle;
        color: $custom-link-color;
      }
    }
    aside {
      .comment-count {
        float: right;
        i { margin: 0 5px 0 10px }
      }
    }
  }
  .url {
    padding: 20px 0 0 5%;
    span { margin-left: 5px }
  }
}

.slogan {
  padding: 1em;
  font-size: 26px;
  text-align: center;
  b {
    font-weight: 200;
    color: #333;
  }
  small {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: $background-color;
  }
}

section#links {
  padding: 0;
  margin-top: 40px;
  float: left;
  h1 {
    padding-left: 49px;
    color: $white-color;
    padding: 22px 45px 22px 25px;
    font-weight: 100;
    font-size: 41px;
  }
  ul {
    background-color: $white-color;
    margin: 0;
    color: $background-color;
    box-shadow: 0px 0px 20px -2px #000;
    li {
      padding: 25px 1em 35px 20px;
      list-style: none;
      border-top: 1px solid rgba(52, 171, 0, 0.3);
      &:first-child { border-top: none }
      @include link;
    }
  }
}

section#link { @include link }