@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadowed($params) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

$white: #fff;
$green: #34AB00;

$bright-on-dark: $white;
$bright-on-bright: $green;
$darken-white-color: darken($bright-on-dark, 10%);
$lighten-black-color: rgba(0,0,0,0.4);
$darken-background-color: darken($bright-on-bright, 4%);
$much-darken-background-color: darken($bright-on-bright, 15%);
$lighten-background-color: lighten($bright-on-bright, 3%);
$dark-on-dark: #333;
$dark-on-bright: #555;